$green: #16a085;
$grey: #ededed;

body {
  margin: 0;
  font-family: 'Kosugi Maru', sans-serif;

  .container.attendance {
    width: 100vw;
    height: 100vh;
    position: relative;

      .btn_wrapper {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        .btn {
          font-size: 80px;
          background-color: grey;
          display: inline-block;
          text-decoration: none;
          color: #FFF;
          width: 200px;
          height: 200px;
          line-height: 200px;
          border-radius: 50%;
          text-align: center;
          vertical-align: middle;
          overflow: hidden;
          transition: .4s;
          outline: none;
          padding: 0;
          border: none;

          &.on_btn {
            background-image: -webkit-linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
            background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
            box-shadow: inset 0 3px 0 rgba(255, 255, 255, 0.3), 0 3px 3px rgba(0, 0, 0, 0.3);
            border-bottom: solid 3px #549fa9;

            &:hover {
              -webkit-transform: rotate(20deg);
              -ms-transform: rotate(20deg);
              transform: rotate(20deg);
              outline: none;
            }
          }

          &:active {
            border: none;
            outline: none;
            -ms-transform: translateY(1px);
            -webkit-transform: translateY(1px);
            transform: translateY(1px);
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
          }
        }

        .arrive_description {
          margin: 0;
          font-size: 25px;
          width: 200px;
          text-align: center;
          padding-top: 30px;
        }

        .leave_description {
          margin: 0;
          font-size: 25px;
          width: 200px;
          text-align: center;
          padding-top: 30px;
        }
      }

      .good_bye_description {
        margin: 0;
        font-size: 35px;
        width: 600px;
        text-align: center;
        padding-top: 100px;
      }

    .clock {
      font-size: 90px;
      font-weight: bolder;
      text-align: center;
      color: black;
      padding-top: 120px;
    }
  }

  .complete_message {
    font-size: 30px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 0 50px;
    box-sizing: border-box;
    line-height: 50px;

    .attendance_time {
      padding-right: 40px;
    }

    span {
      font-size: 40px;
      font-weight: bolder;
    }
  }

  .already_attendance {
    font-size: 30px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .shain_only {
    font-size: 30px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .not_found_exception {
    font-size: 30px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}