@charset "UTF-8";

.mypage-wrapper {
  width: 900px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mypage-wrapper .table-label {
  padding-bottom: 30px;
  font-size: 30px;
}

.mypage-wrapper table {
  width: 100%;
  border-collapse: collapse;
  font-size: 24px;
}

.mypage-wrapper table tr {
  border-bottom: solid 2px white;
}

.mypage-wrapper table tr:last-child {
  border-bottom: none;
}

.mypage-wrapper table th {
  position: relative;
  width: 30%;
  color: #ffffff;
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  text-align: center;
  padding: 30px 0;
}

.mypage-wrapper table th:after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: calc(50% - 10px);
  right: -10px;
  border-left: 10px solid #67ceff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.mypage-wrapper table td {
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 140px;
}

.mypage-wrapper .btn-square-so-pop {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  border-radius: 4px;
  /*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  cursor: pointer;
}

.mypage-wrapper .btn-square-so-pop:active {
  /*押したとき*/
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

